{% extends 'base.html' %}

{% block content %}



    <div>
        <div style="text-align:center; max-width: 500px; margin: 4rem auto;">

            {% if target_user.profile %}
            <h2>
                    {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk  %} "
                    class="material-icons round_button mx-1">
                        edit
                    </a>
                    {% endif %}
            </h2>
            <br>
            <br>
            <h3>본 영화</h3>

            <div>
                <h4>title : {{target_user.profile.play1_title}}  &nbsp&nbsp&nbsp  rate : {{target_user.profile.play1_rate}}</h4>
                <h4>title : {{target_user.profile.play2_title}}  &nbsp&nbsp&nbsp  rate : {{target_user.profile.play2_rate}}</h4>
                <h4>title : {{target_user.profile.play3_title}}  &nbsp&nbsp&nbsp  rate : {{target_user.profile.play3_rate}}</h4>
            </div>

            <br>
            <br>





            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2>
                        영화 기록하기
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}

            <div>
                <a href="{% url 'accountapp:update' pk=user.pk %}"
                   class="material-icons round_button mx-1">
                    settings
                </a>
                <a href="{% url 'accountapp:delete' pk=user.pk %}"
                   class="material-icons round_button mx-1">
                    close
                </a>
                {% endif %}
            </div>

        </div>

    </div>

{% endblock %}