{% extends 'base.html' %}


{% block content %}



    <div>
        <div style="text-align:center; max-width: 500px; margin: 4rem auto;">

            {% if target_user.profile %}
            <h2>
                    {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk  %} "
                    class="material-icons round_button mx-1">
                        edit
                    </a>
                    {% endif %}
            </h2>

            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2>
                        Create Profile
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}

            <div>
                <a href="{% url 'accountapp:update' pk=user.pk %}"
                   class="material-icons round_button mx-1">
                    settings
                </a>
                <a href="{% url 'accountapp:delete' pk=user.pk %}"
                   class="material-icons round_button mx-1">
                    close
                </a>
                {% endif %}
            </div>

        </div>

    </div>

{% endblock %}