
{% include 'head.html' %}

<div style="text-align:center;">
    <h1>Selectpage</h1>


    <div class="text-center my-5">
        <a style="margin:1rem;" href="{% url 'producerapp:play' %}"
          class="btn btn-dark rounded-pill material-icons">
          brush
        </a>
        {% if not user.is_authenticated %}
        <a style="margin:1rem;" href="{% url 'accountapp:login' %}"
          class="btn btn-dark rounded-pill material-icons">
          search
        </a>
        {% else %}
        <a style="margin:1rem;" href="{% url 'accountapp:mainpage' pk=user.pk %}"
          class="btn btn-dark rounded-pill material-icons">
          search
        </a>
        {% endif %}

    </div>

</div>