{% extends 'base.html' %}
{% load static %}

{% block content %}

  <style>

    .container{
      padding: 0;
      margin: 0, auto;
    }

    .container div {

      display: flex;
      justify-content: center;
      border-radius: 1rem;
      box-shadow: 0 0 1rem grey;
    }
    .container a{
      width:45%;
      max-width: 250px;
    }
    .container img{
      width: 100%;
      border-radius: 1rem;
    }


  </style>

  <div style="text-align:center;padding:3rem">


      <form name="input" method="post" action="">
        <select name="location">
        <option value="">지역선택</option>
        <option value="서울">서울</option>
        <option value="부산">부산</option>
        <option value="광주">광주</option>
        </select>
        &nbsp&nbsp

        <input type="text" name="starttime" maxlength="8" value="20210101" style="text-align:center;width:100px;">  ~
        <input type="text" name="endtime" maxlength="8" value="20211231" style="text-align:center;width:100px;">
        <input type="submit" value="입력">
      </form>
  </div>
  {% if play_list %}
  <div class="container">
    {% for play in play_list %}
      <a>
        {% include 'snippets/card_article.html' with play=play %}
      </a>
    {% endfor %}
  </div>

  <script src="{% static 'js/magicgrid.js' %}"></script>
  {% else %}
  <div class="text-center">
    <h1>No Articles YET!</h1>
  </div>
  {% endif %}

<!--  {% include 'snippets/pagination.html' %}-->


{% endblock %}