<div class="v11_2">

    <div style="text-align:center;">
        <span class="v1_6">STA<span style="color:#FFEF31;">G</span>E</span>
        <br>
        <span class="v1_7">공연예술통합플랫폼</span>
    </div>

    <div style="text-align:center;padding:2rem;font-size:20px;">
        <a href="{% url 'selectpage:selectpage' %}" class="header_nav">
            Select
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'accountapp:mainpage' pk=user.pk%}"class="header_nav">
            Main
        </a>
        {% endif %}

        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next{{ request.path }}" class="header_nav"">
            Login
        </a>
        <a href="{% url 'accountapp:create' %}"class="header_nav">
            Signup
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail'  pk=user.pk %}"class="header_nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="header_nav">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>